<div align="right">
    <i class="action" ng-click="logouttransition()">Logout</i>
</div>
<br>
<br>
<div class="alert alert-info title">
    <center><b>Create Post</b></center>
</div>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" class="post-view" ng-submit="add()" role="form">
    <div class="post-actions">
        <button ng-click="cancel()" class="btn btn-danger">< Back</button>
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Save</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
    <div class="form-group">
        <label for="productname">Post Title</label>
        <input type="text" name="productname" id="productname" class="form-control" ng-model="productname" required />
        <span ng-show="form.productname.$dirty && form.productname.$error.required" class="help-block">Post Title is required</span>
    </div>
    <div class="form-group">
        <label for="Vendor">Message</label>
        <textarea name="Vendor" id="Vendor" class="form-control" ng-model="Vendor" required />
        <span ng-show="form.Vendor.$dirty && form.Vendor.$error.required" class="help-block">Message is required</span>
    </div>
</form>
