<div align="right">
<span ng-show="globals.currentUser.manager">

<i class="action" ng-click="approvetransition()"> Approve Inventories </i> | </span>
<i class="action" ng-click="dashboardtransition()">{{globals.currentUser.username}} Dashboard </i>|
<i class="action" ng-click="logouttransition()"> Logout</i>
</div>
<div ng-show="dataLoading" class="alert alert-danger">{{error}}</div>

<i class="action" ng-disabled="dataLoading" ng-click="addtransition(inv)">Add Inventory</i>

<div ng-show="approvedinv[0]" class="alert alert-info">
    <center><b>Approved Inventories</b></center>
</div>
<div ng-show="!loading && !approvedinv[0]" class="alert alert-danger"><center>No Approved Inventories present in the store</center></div>

<table ng-show="approvedinv[0]" class="table">
<thead style="font-size: 150%;"><b><td align="center">Product Id</td><td align="center">Product Name</td><td align="center">Vendor</td><td align="center">MRP</td><td align="center">Batch Num</td><td align="center">Batch Date</td><td align="center">Quantity</td><td></td></b></thead>
	<tr ng-repeat="inv in approvedinv">
		<td align="center">{{inv.productid}}</td>
		<td align="center">{{inv.productname}}</td>
		<td align="center">{{inv.vendor}}</td>
		<td align="center">{{inv.mrp}}</td>
		<td align="center">{{inv.batchnum}}</td>
		<td align="center">{{inv.batchdate}}</td>
		<td align="center">{{inv.quantity}}</td>
		<td align="center"><i class="action" ng-disabled="dataLoading" ng-click="edittransition(inv)">edit</i> / <i class="action" class="material-icons action" ng-disabled="dataLoading" ng-click="delete(inv.id)">delete</i></td>
	 </tr>
 </table>

<div ng-show="pendinginv[0]" class="alert alert-danger">
    <center><b>Pending Inventories</b></center>
</div>
<div ng-show="!loading && !pendinginv[0]" class="alert alert-danger"><center>No Pending Inventories present in the store</center></div>

<table ng-show="pendinginv[0]" class="table">
<thead style="font-size: 150%;"><b><td align="center">Product Id</td><td align="center">Product Name</td><td align="center">Vendor</td><td align="center">MRP</td><td align="center">Batch Num</td><td align="center">Batch Date</td><td align="center">Quantity</td><td></td></b></thead>
	<tr ng-repeat="inv in pendinginv">
		<td align="center">{{inv.productid}}</td>
		<td align="center">{{inv.productname}}</td>
		<td align="center">{{inv.vendor}}</td>
		<td align="center">{{inv.mrp}}</td>
		<td align="center">{{inv.batchnum}}</td>
		<td align="center">{{inv.batchdate}}</td>
		<td align="center">{{inv.quantity}}</td>
		<td align="center"><i class="action" ng-disabled="dataLoading" ng-click="edittransition(inv)">edit</i> / <i class="action" class="material-icons action" ng-disabled="dataLoading" ng-click="delete(inv.id)">delete</i></td>
	 </tr>
 </table>
