<div align="right">
    <i class="action" ng-click="dashboardtransition()">{{globals.currentUser.username}} Dashboard </i>|
    <i class="action" ng-click="logouttransition()"> Logout</i>
</div>
<br>
<br>
<div class="alert alert-info">
    <center><b>Edit Inventory</b></center>
</div>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" ng-submit="edit(editrecord.id)" role="form">
    <div class="form-group">
        <label for="productid">Product Id</label>
        <input type="text" name="productid" id="productid" class="form-control" ng-model="editrecord.productid" required />
        <span ng-show="form.productid.$dirty && form.productid.$error.required" class="help-block">Product Id is required</span>
    </div>
    <div class="form-group">
        <label for="productname">Product Name</label>
        <input type="text" name="productname" id="productname" class="form-control" ng-model="editrecord.productname" required />
        <span ng-show="form.productname.$dirty && form.productname.$error.required" class="help-block">Product Name is required</span>
    </div>
    <div class="form-group">
        <label for="Vendor">Vendor</label>
        <input type="text" ng-model="editrecord.vendor" name="Vendor" id="Vendor" class="form-control" required />
        <span ng-show="form.Vendor.$dirty && form.Vendor.$error.required" class="help-block">Vendor is required</span>
    </div>
    <div class="form-group">
        <label for="MRP">MRP</label>
        <input type="text" ng-model="editrecord.mrp" name="MRP" id="MRP" class="form-control" required />
        <span ng-show="form.MRP.$dirty && form.MRP.$error.required" class="help-block">MRP is required</span>
    </div>
    <div class="form-group">
        <label for="BatchNum">Batch Num</label>
        <input type="text" ng-model="editrecord.batchnum" name="BatchNum" id="BatchNum" class="form-control" required />
        <span ng-show="form.BatchNum.$dirty && form.BatchNum.$error.required" class="help-block">Batch Num is required</span>
    </div>
    <div class="form-group">
        <label for="BatchDate">Batch Date</label>
        <input type="text" ng-model="editrecord.batchdate" name="BatchDate" placeholder="MM/DD/YYYY format" id="BatchDate" class="form-control" required />
        <span ng-show="form.BatchDate.$dirty && form.BatchDate.$error.required" class="help-block">Batch Date is required</span>
    </div>
    <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input type="text" ng-model="editrecord.quantity" name="Quantity" id="Quantity" class="form-control" required />
        <span ng-show="form.Quantity.$dirty && form.Quantity.$error.required" class="help-block">Quantity is required</span>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Save</button>
        <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
</form>